body {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
                "main main main"
                "main main main"
                "footer footer footer";
}

header { 
    grid-area: header;
}
main {
    grid-area: main; 
}
footer { 
    grid-area: footer; 

}